.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: linear-gradient(90deg, #0f172a, #1e3a8a);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #facc15;
}

.register-btn {
  background: #facc15;
  color: #111827 !important;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}